@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
    font-family: Rubik;
}
::-webkit-scrollbar {
    width: 0px;           /* ширина всей полосы прокрутки */
}

body{
    height: 83svh;
    background: url(../assets/div.chalkboard.png);
}

header{
    background: url(../assets/adminheader.png);
    height: 10.13rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

.wrapper{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper form button{
    color: rgb(241, 238, 219);
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.5rem;
    letter-spacing: 0rem;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
}

.polz-name-holder{
    background: url(../assets/adminpaper1.png);
    height: 6.75rem;
    width: 100%;
}


.polz-name{
    padding-left: 2rem;
    color: rgb(77, 68, 61);
    font-family: Rubik;
    font-size: 2rem;
    font-weight: 400;
    line-height: 2.38rem;
    letter-spacing: 0rem;
    text-align: left;
    height: 100%;
    display: flex;
    align-items: center;
}

main{
    height: 100%;
}

.h3-holder{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    height: 4rem;
}

.h3-holder h3{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(241, 238, 219);
    font-family: Rubik;
    font-size: 2rem;
    font-weight: 800;
    line-height: 2.38rem;
    letter-spacing: 0rem;
}

.item-holder-holder{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.pepper-picture{
    position: absolute;
    z-index: -1;
    top: 2rem;
    left: -6rem;
}

.mushroom-holder{
    position: absolute;
    z-index: -1;
    top: -14rem;
    left: 80rem;
}


.item-holder{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%,35rem), 1fr));
    gap: 0.8rem;
    overflow: scroll;
    height: 35rem;
    width: 90%;
}

.form-holder, .card-holder, .otch{
    background: url(../assets/admincard.png);
    background-size: cover;
}

.card-holder, .otch{
    width: 40%;
    padding: 3rem;
    margin: 3rem;
}

.item{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
    height: 5.06rem;
    padding:1rem ;
}

.item span{
    color: rgb(241, 238, 219);
    font-family: Rubik;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.75rem;
    letter-spacing: 0rem;
    text-align: left;
}

.item p, .otch p{
    display: flex;
    align-items: center;
    color: rgb(77, 68, 61);
    font-family: Rubik;
    font-size: 1.5rem;
    font-weight: 800;
    line-height: 1.75rem;
    letter-spacing: 0rem;
    text-align: left;
}

.item input, select{
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: none;
    color: rgb(77, 68, 61);
    font-family: Rubik;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.75rem;
    letter-spacing: 0rem;
    outline: none;
}

.item input:focus, select:focus{
    outline: 0.38rem solid rgb(77, 68, 61);
}

.buttons{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.buttons button{
    width: 40%;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,   
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

.item button{
    background: transparent;
    outline: none;
    border: 0.38rem solid rgb(77, 68, 61);
    cursor: pointer;
    color: rgb(77, 68, 61);
    font-family: Rubik;
    font-size: 1.2rem;
    font-weight: 800;
    line-height: 1.75rem;
    letter-spacing: 0rem;
}

.sad{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(241, 238, 219);
    font-family: Rubik;
    font-size: 1.5rem;
    font-weight: 800;
    line-height: 1.75rem;
    letter-spacing: 0rem;
}

@keyframes wipe-enter {
    0% {
      transform: translateY(-1rem);
    }
    50% {
      transform: translateY(2rem);
    }

    100%{
        transform: translateY(0);
    }
}

@media (prefers-reduced-motion: no-preference) {
    .vegy-animation {
      animation: wipe-enter 3s infinite alternate;
    }
}